<a href="https://colab.research.google.com/github/dipucriodigital/engenharia-de-software/blob/main/banco-de-dados/BD_Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Banco de Dados - Prof. Sérgio Lifschitz

---

## Exercícios da Aula 1: Introdução à Linguagem SQL DML (consultas)

## PASSO 1: Instalação e Configuração do PostgreSQL

Basta dar PLAY que o script abaixo instalará o SGBD PostgreSQL

In [ ]:
%%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

## PASSO 2: Preparo do Esquema Relacional CARROS 

Por favor, basta dar PLAY aqui também pois a criação de esquemas relacionais é assunto da AULA 2. Os scripts (programas) abaixo preparam o ambiente (Esquema e Instância de testes) para realizar consultas SQL no seu próprio  COLAB.

Baixe o esquema no seguinte link: https://drive.google.com/file/d/1pjKbGImerDoBxRCUTuus-Mg652m9hhQJ/view?usp=sharing

Coloque o esquema na pasta padrão do seu Google Drive e siga as instruções abaixo.

In [ ]:
# Monta o diretório do Google Drive no seu Colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Cria o esquema no banco de dados
%%capture
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS carros CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA carros;'
!PGPASSWORD='postgres' psql -h localhost -U postgres -d postgres -a -f drive/MyDrive/esquema_carros.sql

## PASSO 3: Preparando para usar o SGBD PostgreSQL localmente

In [ ]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [ ]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Lista de Exercícios para prática de SQL 

Consultas simples sobre o esquema CARROS implantado no SGBD PostgreSQL

### Esquema relacional da base de dados Carros:

<img src='https://drive.google.com/uc?export=view&id=1pIB4LORRz4J2gwEjM_qxwVYHDlqXGg5Y'>

Chaves primárias sublinhadas e chaves estrangeiras em itálico.

In [ ]:
%sql postgresql://postgres:postgres@localhost:5432/postgres

'Connected: postgres@postgres'

In [ ]:
# Escolhe o esquema carros como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema carros)
%%sql
SET SCHEMA 'carros';

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [ ]:
# Exemplo de consulta: 

# Exercício 1: Quais automóveis italianos na base de dados?

# Para rodar a consulta em SQL abaixo, basta dar PLAY nesta célula!
# Se quiser, pode mudar o país e verificar as respostas (instâncias!) distintas.

%%sql
 
SELECT * 
FROM automoveis 
WHERE pais = 'Italia';

 * postgresql://postgres:***@localhost:5432/postgres
11 rows affected.

[(1051, '88', 'Fiat                ', 'Elba                ', Decimal('6200.00'), 'Italia              '),
 (1051, '89', 'Fiat                ', 'Elba                ', Decimal('7600.00'), 'Italia              '),
 (1052, '93', 'Fiat                ', 'Tempra              ', Decimal('18800.00'), 'Italia              '),
 (1053, '95', 'Fiat                ', 'Tipo                ', Decimal('13000.00'), 'Italia              '),
 (1052, '94', 'Fiat                ', 'Tempra              ', Decimal('20500.00'), 'Italia              '),
 (1051, '90', 'Fiat                ', 'Elba                ', Decimal('10800.00'), 'Italia              '),
 (1052, '95', 'Fiat                ', 'Tempra              ', Decimal('34000.00'), 'Italia              '),
 (1051, '95', 'Fiat                ', 'Elba                ', Decimal('18300.00'), 'Italia              '),
 (1201, '95', 'Ferrari             ', '512                 ', Decimal('330000.00'), 'Italia              '),
 (1051, '93', 'Fiat                ', 'Elba                ', Decimal('12600.00'), 'Italia              '),
 (1202, '95', 'Ferrari             ', '348                 ', Decimal('215000.00'), 'Italia              ')]

In [ ]:
# Tente agora definir as seguintes consultas em SQL. Após o último exercício,  
# disponibilizamos algumas soluções propostas para simples conferência.

# Exercício 2/ Listar os nomes dos fabricantes dos automóveis na base de dados 
# e os respectivos países de origem. 

%%sql

In [ ]:
# Exercício 3/ Listar os nomes das pessoas que são potenciais compradoras de 
# automóveis, moradoras do estado do Rio de Janeiro, e que também sejam 
# proprietárias de revendedoras

%%sql

In [ ]:
# Exercício 4/ Quais revendedoras presentes nos estados da Bahia e Pernambuco? 

%%sql

In [ ]:
# Exercício 5/ Quais são os automóveis no banco de dados, com valor tabelado 
# superior a 120 mil reais, que ainda não foram comprados por consumidor algum?

%%sql

In [ ]:
# Exercício 6/ Quais revendedoras (CGC) têm para vender automóveis 
# dos anos 88 e 89?.

%%sql

Respostas [PDF compartilhado](https://drive.google.com/file/d/1zcekq_NjbqyKhvxd5hnDDoCUApUozypK/view?usp=share_link) em SQL sugeridas