<a href="https://colab.research.google.com/github/dipucriodigital/engenharia-de-software/blob/main/banco-de-dados/BD_Aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Banco de Dados - Prof. Sérgio Lifschitz

---

## Lista 02: DML

## Instalação e Configuração do PostgreSQL

In [ ]:
%%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

## Preparo do esquema Carros

In [ ]:
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS carros CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA carros;'

# Substitua path pelo caminho no seu Google Drive.
# !sudo -u postgres psql -U postgres -d postgres -a -f /content/drive/MyDrive/path/esquema_carros.sql

# Se o arquivo estiver no diretório padrão do Google Drive, utilize o comando abaixo (retira-se o '/path' do comando acima)
!PGPASSWORD='postgres' psql -h localhost -U postgres -d postgres -a -f drive/MyDrive/esquema_carros.sql

## Preparo do esquema Empresa

In [ ]:
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS empresa CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA empresa;'

# Substitua path pelo caminho no seu Google Drive.
# !sudo -u postgres psql -U postgres -d postgres -a -f /content/drive/MyDrive/path/esquema_empresa.sql

# Se o arquivo estiver no diretório padrão do Google Drive, utilize o comando abaixo (retira-se o '/path' do comando acima)
!PGPASSWORD='postgres' psql -h localhost -U postgres -d postgres -a -f drive/MyDrive/esquema_empresa.sql

## Preparando para usar o PostgreSQL

In [ ]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [ ]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

## Exercícios do esquema Carros

### Esquema relacional da base de dados Carros:

<img src='https://drive.google.com/uc?id=1UE-7Aw7cwu9q8vya9MxtM7pNguRMvp8u'>
Chaves primárias sublinhadas e chaves estrangeiras em itálico.

In [ ]:
# Escolhe o esquema carros como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema carros)
%%sql
SET SCHEMA 'carros';

### 1. Listar os nomes dos fabricantes dos automóveis na base de dados e os respectivos países de fabricação originalmente.

In [ ]:
%%sql
SELECT DISTINCT Fabricante, Pais
FROM automoveis;

### 2.  Listar os estados onde se vende o modelo Elba, do fabricante Fiat.

In [ ]:
%%sql
SELECT DISTINCT Estado
FROM Automoveis A, Revendedoras R, Garagens G
WHERE A.Codigo = G.Codigo
AND G.CGC = R.CGC
AND A.Modelo = 'Elba'
AND A.Fabricante = 'Fiat';

### 3. Quais são as revendedoras de mesmo proprietário presentes em mais de um estado?

In [ ]:
%%sql
SELECT DISTINCT R1.*
FROM revendedoras R1, Revendedoras R2
WHERE R1.proprietario = R2.proprietario
AND R1.estado <> R2.estado;

### 4. Listar o CGC e o nome das revendedoras que venderam carros japoneses ou americanos, fabricados no ano 95, por valor até 30% acima do preço de tabela.

In [ ]:
%%sql
SELECT DISTINCT r.cgc, r.nome
FROM revendedoras R, negocios N, automoveis A
WHERE R.cgc = N.cgc
AND A.codigo = N.Codigo
AND A.ano = N.Ano
AND A.pais IN ('Japao', 'EUA')
AND A.ano = '95'
AND N.preco > A.preco_tabela
AND N.preco <= (1.3 * A.preco_tabela);

## Exercícios do esquema Empresa

### Esquema relacional da base de dados Empresa:

<img src='https://drive.google.com/uc?id=1JWCG8paO9ksU-22L79Qmnkb4iYAHnlOy'>

Chaves primárias sublinhadas e chaves estrangeiras em itálico.

In [ ]:
# Escolhe o esquema empresa como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema empresa)
%%sql
SET SCHEMA 'empresa';

### 5. Listar todos os Números dos projetos e os respectivos Números de departamento que os controlam.

In [ ]:
%%sql
SELECT Num, DepNum
FROM Projeto;

### 6. Exibir o nome e grau de parentesco dos dependentes juntamente com a identidade e nome dos empregados dos quais dependem.

In [ ]:
%%sql
SELECT Depe.Nome, Parentesco, Ident, Emp.Nome
FROM DEPENDENTE as Depe, EMPREGADO as Emp
WHERE IdentEmp = Ident;

In [ ]:
# Uma forma alternativa para a consulta acima
%%sql
SELECT Depe.Nome, Parentesco, Ident, Emp.Nome
FROM DEPENDENTE as Depe INNER JOIN EMPREGADO as Emp
ON IdentEmp = Ident;

### 7. Para cada empregado, mostrar seu nome e sexo, e a identidade e nome do seu superior imediato.

In [ ]:
%%sql
SELECT E.Ident as IdentSuper, E.NOME as NomeSuper, S.NOME as NomeSub, S.SEXO as SexoSub
FROM EMPREGADO as E, EMPREGADO as S
WHERE E.SUPERIDENT= S.IDENT;

In [ ]:
# Uma forma alternativa para a consulta acima
%%sql
SELECT E.NOME as NomeSuper, S.NOME as NomeSub
FROM EMPREGADO as E INNER JOIN EMPREGADO as S
ON E.SUPERIDENT= S.IDENT;

### 8. Listar os diferentes valores de salários pagos aos empregados da empresa.

In [ ]:
%%sql
SELECT DISTINCT Sal
FROM EMPREGADO;

### 9. Quais os nomes dos empregados que trabalham menos de 20 horas por semana em algum projeto?

In [ ]:
%%sql
SELECT DISTINCT Nome
FROM EMPREGADO, TRABALHANO
WHERE Ident = IdentEmp
AND HRS < 20;

In [ ]:
# Uma forma alternativa para a consulta acima
%%sql
SELECT DISTINCT Nome
FROM EMPREGADO INNER JOIN TRABALHANO
ON Ident = IdentEmp
WHERE HRS < 20;